extends base

block content
    .background
        .height-30
        .hole-box
            .player-wrap 
                .view 
                    .display-flex 
                        h2#chart-title.fx.fade-in.display-inline-block.header-margin= "Charts"
                        h2.fx.fade-in.display-inline-block.header-margin= "|"
                        h2#playlist-title.fx.fade-in.display-inline-block.header-margin.color-disable= "My PlayList"
                    #chart-div.song-list
                        each list in songList
                            .song.fx.fade-in 
                                .song-img 
                                    img.img-round(src="static/img/" + list.ytube_id + ".jpeg")
                                .song-text.fx
                                    .song-info=list.artist
                                    h3.song-info.song-name=list.song
                                .song-btn 
                                    img.img-btn(
                                        src="static/img/add.svg"
                                        id=list.ytube_id)
                                    p.song-view="(play : " + list.views + ")"
                    .save.hide
                        button.save-btn.fx.fade-in(id=usrId)="Save"
                    #playlist-div.song-list.hide
                        each list in playList
                            each track in list.tracks
                                .song.fx.fade-in(id=`${track.artist}_${track.ytube_id}`) 
                                    .song-img 
                                        img.img-round(src="static/img/" + track.ytube_id + ".jpeg")
                                    .song-text.fx
                                        .song-info=track.artist
                                        h3.song-info.song-name=track.song
                                    .song-btn
                                        button.custom-btn.btn-2(id=track.ytube_id)="▶"
                                    span.close
                .list 
                    h2.fx.fade-in.header-margin= "Music Player" 
                    .list-video 
                        iframe.video(
                            id="ytplayer"
                            type="text/html"
                            frameborder="0"
                            allowfullscreen="allowfullscreen")
        .height-30